<a href="https://colab.research.google.com/github/rakelup/DESU-IA4PH-Info-PROF/blob/main/cleaningDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DESU IA4 HEALH
**TU : Info-PROF, Introduction to Python programming for health data**

#Importing and cleaning a dataframe

In [ ]:
import pandas as pd
import numpy as np

##Importing the data :
We can import datasets from different types of existing documents : excel files, flat files, json, html etc ... We can dirrectly import the file or indicate the URL to allow Python to download it. 
In the following we are going to export an excel fille from a github repository.

For more details on how we can import different files into a ddataframe  have a look to
[Pandas Input/output](https://pandas.pydata.org/docs/reference/io.html)

In [ ]:
df = pd.read_excel("https://github.com/rakelup/DESU-IA4PH-Info-PROF/blob/main/dirtydata.xlsx?raw=true")
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'  110.0     130.0     409.1
1        60  '2020/12/02'  117.0     145.0     479.0
2        60  '2020/12/03'  103.0     135.0     340.0
3        45  '2020/12/04'  109.0     175.0     282.4
4        45  '2020/12/05'  117.0     148.0     406.0

**Exercise :** Let's have a look to the statistics of our database with describe; 
Do you find any weird information ?

Lets have a look to see if we have missing values.

In [ ]:
df.isnull().sum() # It tells us the nuber of missing values in each column.

Duration    0
Date        1
Pulse       1
Maxpulse    1
Calories    3
dtype: int64

Data Cleaning is the process of finding and correcting the inaccurate/incorrect data that are present in the dataset. 

Handling missing values is an essential part of data cleaning and preparation process since almost all data in real life comes with some missing values.

Dealing with missing values is essesntial since most of the machine learning models provide an error when working with NaN values. There are various approaches to deal with missing values :
1. Delate the whole columns
2. Delate the whole row that contains the missing value
3. Replace the missing value with another value : The easiest way is to just fill them up with 0, but this can reduce your model accuracy significantly.

 For choosing the best method, it is necessary to understand the type of missing value and its significance

##Removing the missing values

how=’any’ : drop if there is any missing value
how=’all’ : drop if all values are missing

In [ ]:
new_df = df.dropna(axis = 0, how= 'any')  
new_df.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

**Exercise :** What does it means axis = 0 in the previous statement?  How shoudl we do to remove the whole column? What should we do to remove the whole row only if all the values are missing?

Remove uniquement the whole row by column

In [ ]:
new_df2 = df.dropna(subset=['Calories'])
new_df2.isnull().sum()

Duration    0
Date        1
Pulse       1
Maxpulse    1
Calories    0
dtype: int64

##Replace the missing value :

1. Filling the missing data with the mean or median value if it’s a numerical variable.
2. Filling the missing data with mode if it’s a categorical value.
3. Filling the numerical value with 0 or -999, or some other number that will not occur in the data. This can be done so that the machine can recognize that the data is not real or is different.
4. Filling the categorical value with a new type for the missing values.

We can use the fillna() function to fill the null values in the dataset or the replace function.

In [ ]:
new_df3 = df
new_df3['Calories']=df['Calories'].fillna(df['Calories'].mean())
new_df3.isnull().sum()

Duration    0
Date        1
Pulse       1
Maxpulse    1
Calories    0
dtype: int64

Exercise : Replace the missing values for the pulse  with the value 299

Exercise : In the instruction fillna set the  method parameter; What does it do?

So far we have considered that the missing values were clearly recognizable by Python. However, what happens if the values are not detect automatically by Python? That could be the case if the values are codes as "---" or they are just worng values.
In this cases aht we can do is to use the replace function

Exercise : Create a dataset in which the missing values are coded as "---" replace those values by np.nan and then fill this missing values with the mean value for this column;

In [ ]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count    8.000000   31.000000   31.000000   32.000000
mean    93.750000  103.612903  128.387097  302.289655
std    144.042404    7.935899   13.197670   62.570607
min     30.000000   90.000000  101.000000  195.100000
25%     45.000000  100.000000  120.000000  250.700000
50%     45.000000  103.000000  127.000000  300.000000
75%     45.000000  107.000000  132.500000  335.875000
max    450.000000  130.000000  175.000000  479.000000

In [ ]:

new_df3 = df
new_df3['Duration'].replace(60,'---', inplace = True)
new_df3['Duration'].replace('---',np.nan, inplace = True)
new_df3['Duration'].fillna(new_df3['Duration'].mean())

0      93.75
1      93.75
2      93.75
3      45.00
4      45.00
5      93.75
6      93.75
7     450.00
8      30.00
9      93.75
10     93.75
11     93.75
12     93.75
13     93.75
14     93.75
15     93.75
16     93.75
17     93.75
18     45.00
19     93.75
20     45.00
21     93.75
22     45.00
23     93.75
24     45.00
25     93.75
26     93.75
27     93.75
28     93.75
29     93.75
30     93.75
31     93.75
Name: Duration, dtype: float64

## Final Exercise : Importing and claning the titanic Kaggle dataset

1. Import the dataset titatic.csv locate in my repository. This dataset is an extraction from the Titanic kaggle dataset.

2. Get an overview of the first data in the datase

3. Verify the number of person included in this dataset, the main features and show a descriptive table of the main statistics for each feature.

4. Are there anu categorial variables in this datasets? If so convert the categorical variables in numerical ones.

5. Are there any missing values if so, used one of the strategies learned to deal with them, justify your choise.

6. Lets suppose that we want to create a classificator that predicts if a person is going to survive or not; Which features do you think that are relevant for this problem. Create a new dataset that contains only the selected features.


Sources https://www.analyticsvidhya.com/blog/2021/05/dealing-with-missing-values-in-python-a-complete-guide/